body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#questionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    color: #333;
}

h2 {
    font-size: 12pt;
    color: #333;
}

.question {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-right: 30px;
}

.guideText {
    font-size: 10pt;
    color: #666;
    margin: 0 auto;
    width: 90%;
}


.question, .questionRow {
    display: block;
}

.questionRow {
    margin-bottom: 5px; /* Adjust the margin between radio buttons and labels */
}

.questionRow input[type="radio"] {
    margin-right: 7px;
}

#gradeButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#gradeButton:hover {
    background-color: #45a049;
}

#gradeResultContainer {
    font-size: 12pt;
    margin-top: 30px;
}

#gradeResultContainer .grade-title {
    font-weight: bold;
}

#gradeResultContainer .grade-details {
    font-size: 8pt;
    color: #666;
}

.red {
    color: rgb(185, 0, 0);
}